@use "../abstracts" as abs;
.dashboard{
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: [aside-start] 12rem [aside-end] minmax(5vw,3.5rem) [items-start] 1fr [items-end] minmax(5vw,3.5rem);
  grid-template-rows: min-content 1fr;
  grid-row-gap: 5rem;
  background-color: abs.$color-vulcan;
  &__aside {
    z-index: 2;
    grid-column: aside-start / aside-end;
    grid-row: 1 / -1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: abs.$color-darkblue;
    border-radius: 0 3.5rem 3.5rem 0;
    &--logo{
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 8rem;
      padding: 2rem 1rem;
      border-radius: 0 3.5rem 0 0;
      background-color: abs.$color-purple;
    }
    &--theme{
      margin-top: auto;
      height: 5rem;
    }
    &--profile-link{
      height: 7.5rem;
      border-radius: 5rem;
      margin-bottom: 2.5rem;
    }

  }

  &__nav{
    grid-column: items-start / items-end;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    &--heading{
      display: flex;
      flex-direction: column;
      & span{font-size: 1.3rem;}
    }
  }

  &__list{
    grid-column: items-start / items-end;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    gap: 2rem;
    list-style: none;
    &-item{
      padding: 0 2.5rem;
      width: 100%;
      display: flex;
      gap: 2.5rem;
      align-items: center;
      color: abs.$color-white;
      background-color: abs.$color-darkblue;
      border-radius: 1rem;
      & span{
        font-size: 1.6rem;
        &:nth-child(3){margin-left: auto;}
      }
    }
  }

  &__form {
    z-index: 1;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 12rem;
    min-width: 50vw;
    height: 100%;
    padding: 5rem 2vw;
    display: grid;
    grid-template-rows: repeat(4,min-content);
    gap: 5rem;
    align-content: center;
    background-color: abs.$color-vulcan;
    box-shadow: .25rem 0 2.5rem .25rem #141625;
    transition: all .5s ease-in-out;

    &-details,&-date,&-items{
      display: grid;
      gap: 1rem;
      & .heading-4{grid-column: 1 / -1;}
      & input, & textarea{
        height: 5rem;
        border-radius: .5rem;
        font-size: 1.6rem;
        text-align: center;
        color: abs.$color-darkblue;
        background-color: abs.$color-white;
        border: none;
        outline: none;
      }
    }
    &-details{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,min-content);
      & textarea{
        grid-column: 1 / -1;
        width: 100%;
        height: 10rem;
        resize: none;
        padding: 3rem 0;
      }
    }
    &-date{grid-template-rows: repeat(2,min-content);}
    &-items{
      max-width: 100%;
      grid-template-rows: repeat(3,min-content);
      &-item{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr) min-content;
        align-items: center;
        gap: 1rem;
        & svg{
          width: 2.5rem;
          height: 2.5rem;
          fill: abs.$color-white;
        }
        & input{
          width: 100%;
        }
      }
    }
  }
}