@use "../abstracts" as abs;

.btn{
  cursor: pointer;
  border: none;
  border-radius: .5rem;  
  &:disabled {
    opacity: .2;
  }
}

.btn-sign-up{
  font-size: 2rem;
  color: abs.$color-white;
  background-color: abs.$color-vulcan;
}

.btn-login{
  font-size: 1.8rem;
  font-weight: 500;
  color: abs.$color-white;
  background-color: abs.$color-purple;
}

.btn-login, .btn-sign-up{
  padding: 1.5rem 5rem;
  background-image: linear-gradient(120deg,transparent 0%, transparent 50%, abs.$color-white-gray 50%);
  background-size: 220%;
  transition: all .4s ease-in-out;
  &:hover{
    cursor: pointer;
    background-position: 100%;
    color: abs.$color-purple;
  }
}

.btn-categories-nav,.btn-categories-form{
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 1rem;
  font-size: 1.6rem;
  & svg{
    transform: rotate(180deg);
    width: 2rem;
    height: 100%;
    fill: abs.$color-purple;
  }
  @media only screen and(max-width: abs.$bp-largest){font-size: 1.4rem}
}

.btn-categories-nav{
  font-weight: 700;
  color: abs.$color-purple--light;
  background-color: transparent;
}

.btn-categories-form{
  width: 100%;
  justify-content: center;
  background-color: abs.$color-white;
}

.btn-create-expense, .btn-add-item{
  height: 5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: abs.$color-white;
  background-color: abs.$color-purple;
  @media only screen and (max-width: abs.$bp-large){
    font-size: 1.4rem;
    height: 4rem;
  }
}

.btn-add-expense{
  position: relative;
  max-width: 15rem;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  background-color: abs.$color-purple;
  color: abs.$color-white;
  font-size: 1.6rem;
  @media only screen and(max-width: abs.$bp-largest){font-size: 1.4rem; padding: 0 .5rem;}
  & svg{
    width: 3.5rem;
    height: 3.5rem;
    fill: abs.$color-white;
    @media only screen and(max-width: abs.$bp-largest){height: 2.5rem; width: 2.5rem;}
  }
}

.btn-show-more{
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  color: abs.$color-purple--light;
  background-color: abs.$color-vulcan;
  &:hover{box-shadow: 0 0 .5rem .15rem abs.$color-purple--light;}
  &:active{transform: translateY(.2rem)}
  @media only screen and (max-width: abs.$bp-medium){
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 100%;
  }
}

.btn-close-form{
  font-size: 1.6rem;
  color: abs.$color-purple;
  background-color: transparent;
  &:hover{
    background-color: abs.$color-darkblue;
  }
}

.btn-set-currency{
  position: relative;
  height: 100%;
  width: 7.5rem;
  background-color: abs.$color-white-gray;
  color: abs.$color-purple;
  font-size: 1.6rem;
  letter-spacing: 1.3px;
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1.2rem;
    height: 1.2rem;
    background-color: abs.$color-purple;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    transform: translateY(-50%) translateX(-50%);
  }
}

.btn-edit, .btn-delete{
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  &:hover{opacity: .75;}
}

.btn-edit{
  height: 5rem;
  background-color: abs.$color-purple;
  color: abs.$color-white;
}

.btn-delete{
  background-color: abs.$color-red;
  color: abs.$color-white;
}