@use "../abstracts" as abs;
.heading-1{
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: abs.$color-darkblue;
  & span{
    font-size: 4rem;
    color: abs.$color-white-gray;
  }
}

.heading-2{
  font-size: 3.5rem;
  color: abs.$color-white-gray;
  margin-bottom: 5rem;
}

.heading-3{
  color: abs.$color-white;
  font-size: 3rem;
  font-weight: abs.$font-bold;
}

.heading-4{
  font-size: 2rem;
  color: abs.$color-purple;
  justify-self: center;
}