@use "../abstracts" as abs;

.btn{
  cursor: pointer;
  border: none;
  border-radius: .5rem;
}

.btn-sign-up{
  font-size: 2rem;
  color: abs.$color-white;
  background-color: abs.$color-vulcan;
}

.btn-login{
  font-size: 1.8rem;
  font-weight: 500;
  color: abs.$color-white;
  background-color: abs.$color-purple;
}

.btn-login, .btn-sign-up{
  padding: 1.5rem 5rem;
  background-image: linear-gradient(120deg,transparent 0%, transparent 50%, abs.$color-white-gray 50%);
  background-size: 220%;
  transition: all .4s ease-in-out;
  &:hover{
    cursor: pointer;
    background-position: 100%;
    color: abs.$color-purple;
  }
}

.btn-categories{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  font-size: 1.6rem;
  font-weight: 700;
  color: abs.$color-purple--light;
  background-color: transparent;
  & svg{
    width: 2rem;
    height: 100%;
    fill: abs.$color-purple;
  }
}

.btn-create-expense{
  height: 5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: abs.$color-white;
  background-color: abs.$color-purple--light;
}

.btn-add-expense{
  position: relative;
  max-width: 15rem;
  height: 5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: abs.$color-purple;
  color: abs.$color-white;
  font-size: 1.6rem;
  & svg{
    z-index: 1;
    width: 3.5rem;
    height: 3.5rem;
    fill: abs.$color-white;
  }
}