
$color-purple: #7c5dfa;
$color-purple--light: #9277ff;
$color-darkblue: #1e2139;
$color-vulcan: #0c0e16;
$color-red: #ec5757;
$color-white: #fff;
$color-white-gray: #ddd;

$font-tiny:400;
$font-regular:500;
$font-bold:700;

.hidden-form{
  transform: translateX(-107.5vw);
  transition: all .5s ease-in-out;
}

