
$color-purple: #7c5dfa;
$color-purple--light: #9277ff;
$color-darkblue: #181f45;
$color-vulcan: rgb(20, 22, 37);
$color-red: #dc2c2c;
$color-white: #fff;
$color-white-gray: #ddd;

$font-tiny:400;
$font-regular:500;
$font-bold:700;

$bp-largest:40.625em; //650px
$bp-large:37.5em; //600px
$bp-medium:31.25em; //500px
$bp-small: 26.25em; //420px

.hidden-form{
  visibility: hidden;
  transform: translateX(-107.5vw);
  transition: all .5s ease-in-out;
  @media only screen and (max-width: $bp-large){transform: translate(0,calc(-100vh - 7rem));}
}

.hidden-profile{
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}

.hidden{display: none}

.overlay{
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba($color-vulcan,.75);
}

.error{
  animation: borderAnimation 2s infinite;
}
@keyframes borderAnimation {
  0%{
    border: 2px solid #ff1c1c;
  }
  100%{
    border: 2px solid #a32020;
  }
}
