*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body{
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  height: 100%;
}
#root {
  height: 100%;
}
.Toastify {
  font-size: 1.4rem;
}