*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
}
input, textarea, select,option, .btn-categories-form {
  background-color: rgba(#181f45, .7) !important;
  color: white !important;
  &::placeholder {
    color: white !important;
  }
  border: 1px solid rgba(#7c5dfa, .4) !important;
  
}
.error {
  border: 1px solid #fa4848 !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none !important;
  margin: 0;
}